
{% if site/asp/index.html %}
  <div>
  <ul>
    <li><a href="/javascript/">javascript</a></li>
    <li><a href="/asp/">asp</a></li>
    </ul>
  </div>
{% else %}
<div>
<ul>
  <li><a href="/javascript/">javascript</a></li>
  <li><a href="/asp/">asp</a></li>
  <li><a href="/github/">github</a></li>
  <li><a href="/php/">php</a></li>
  <li><a href="/mssql/">mssql</a></li>
  <li><a href="/mysql/">mysql</a></li>
  <li><a href="/python/">python</a></li>
  <li><a href="/today/">today</a></li>
  </ul>
</div>
{%- endif %}
